<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div *ngFor="let ads of ListClassifiedAds">
    <div class="col">
      <div class="card shadow-md">
        <img
          class="bd-placeholder-img card-img-top"
          src="{{ ads.adsImages[0].url }}"
          alt="Placeholder"
          width="100%"
          height="225"
        />

        <div class="card-body">
          <p class="card-text">
            {{ ads.description }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Xem thêm
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Liên hệ
              </button>
            </div>
            <small class="text-muted">{{ ads.status }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-index-pagination></app-index-pagination>
