<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  <button
    type="button"
    class="btn btn-warning"
    id="dropdownManual"
    ngbDropdownAnchor
    (focus)="myDrop.open()"
  >
    <span class="navbar-toggler-icon"></span>
    Danh mục
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <button ngbDropdownItem>Xe cộ</button>
    <button ngbDropdownItem>Bất động sản</button>
    <button ngbDropdownItem>Nhạc cụ</button>
    <button ngbDropdownItem>Thiết bị di động</button>
    <button ngbDropdownItem>Nội thất</button>
  </div>
</div>
